extends layout

block layout-content
	div(class="main")
		div(class="home")
			div(class="container")
				h2.Banner Ajjio 
					div.NewAcount
						h3 Create New Account  
						div.SignUpButton
							a(href="/signup")
								button(type="button") SignUp
					div.Existing 
						h3 Already Registered
						div.LoginButton
							a(href="/login")
								button(type="buttion") LogIn


