extends layout

block layout-content
  div.View
    h1.Banner Ajio
    div.Account
      div.New
        h2 Create New Account  
        div.SignUpButton
          a(href="/signup")
            div.NavButton SignUp
      div.Existing 
        h2 Already Registered
        div.LoginButton
          a(href="/login")
            div.NavButton Login


