extends layout

block layout-content
	div(class="main")
		div(class="landing")
			div(class="container")
				div.text-center
					h1 Hi! #{session.user.name}, you are loggedin.
					div.LogoutButton
						a(href="/logout")
							div.NavButton Logout
     
