extends layout

block layout-content
	div(class="main")
		form(class="form-login" method="POST" action="/login")

			div(class="container")
				h1(class="h1") LogIn
				
				if msg
					p.description #{msg}

				label(for="input_username") Username
				input(type="text" name="username" id="input_username"  placeholder="username" required)

				label(for="input_password") Password
				input(type="password" name="password" id="input_passowrd"  placeholder="password" required)
			
				button(type="submit") Login
				
				h3(class="h3") Need an account?
					a(href="/signup")
						button(type="button") SignUp

