extends layout

block layout-content
	div(class="main")
		form(class="form-signin" method="POST" action="/signup")
			div(class="container")
				h2(class="h1") SignIn
				if msg
					p.description #{msg}
				
				label(for="input_username") Username
				input(type="text" name="username" id="input_username"  placeholder="username" required)
					
				label(for="input_password") Password
				input(type="password" name="password" id="input_passowrd"  placeholder="password" required)
					
				label(for="input_password2") Re-Enter Password
				input(type="password" name="password_2" id="input_passowrd_2"  placeholder="password" required)
				
				label(for="input_name") Name
				input(type="text" name="name" id="input_name"  placeholder="name" required)

				label(for="input_mobile_number") Mobile Number
				input(type="text" name="mobile_number" id="input_mobile_number"  placeholder="10 digit mobile number")
				
				button(type="submit") Submit

				h3(class="h3") Have an account?
				a(href="/login")
					button(type="button") LogIn
				
